# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Build
# -----------------------------
dist/
build/

# -----------------------------
# AI Models & Datasets
# -----------------------------
models/
data/

# -----------------------------
# OS Files
# -----------------------------
Thumbs.db
.DS_Store